.navbar {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  max-width: 1500px;
}

.navbar-logo {
  color: #ef7800;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 38px;
  display: flex;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif;
}

.logo-img {
  width: 35px;
  height: 35px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.nav-menu {
  width: 60vw;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: end;
}

.nav-item {
  height: 70px;
}

.nav-links {
  color: #ef7800;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.nav-links:hover {
  border-bottom: 4px solid #ff8103;
  color: #af5104;
  transition: all 0.2s ease-out;
}

.nav-links-boxed {
  background-color: #ef7800;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.4rem 1rem;
  margin-left: 1rem;
  height: 50%;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.nav-links-boxed:hover {
  opacity: 80%;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #ff8103;
}

.fa-bars:hover {
  color: #b7610b;
}

.fa-times {
  color: #ff8103;
  font-size: 2rem;
}

.fa-times:hover {
  color: #b7610b;
}

.nav-links-mobile {
  display: flex;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    justify-content: start;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
  }

  .nav-links:hover {
    background-color: #fff;
    border-radius: 0;
  }

  .nav-links-boxed {
    margin-top: 1rem;
    height: 70%;
    margin-left: 0px;
  }
  
  .nav-links-boxed:hover {
    opacity: 80%;
    transition: all 0.2s ease-out;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: black;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #ef7800;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #8a4705;
    /* color: #d47d3b; */
    transition: 250ms;
  }
}
