video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  background: url('../images/falltourney.png') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(61, 59, 59, 0.35);
  object-fit: contain;
  text-align: center;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
  font-family: 'Bebas Neue', sans-serif;
  margin-top: 70px;
  margin-left: 20px;
}

.hero-container > p {
  margin-top: 2px;
  margin-left: 20px;
  color: #fff;
  font-size: 32px;
  font-family: 'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 6px;
}

@media screen and (max-width: 960px) {
  .hero-container {
    background: url('../images/bg-mid.png') center center/cover no-repeat;
  }
  .hero-container > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    background: url('../images/bg-mobile.png') center center/cover no-repeat;
  }
  .hero-container > h1 {
    font-size: 70px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}